/* Dans le fichier CSS (styles.css) */

/* Style pour la zone de filtres */
.sticky-filters {
    position: sticky;
    top: 0; /* Distance entre le haut de l'élément et le haut de la fenêtre du navigateur lorsque l'élément devient "sticky" */
    background-color: white; /* Couleur de fond pour éviter que le contenu défile en dessous */
    z-index: 100; /* Ajustez cela selon les besoins pour la superposition */
    max-height: 80vh; /* Hauteur maximale pour éviter qu'il ne prenne trop d'espace */
}

/* Styles pour le conteneur principal utilisant Flexbox */
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

/* Styles pour la zone de filtres */
.filters {
    flex: 1; /* Obtient 1/3 de l'espace disponible dans le conteneur */
    /* Ajoutez ici d'autres styles spécifiques aux filtres si nécessaire */
}

/* Styles pour le graphique */
.chart {
    flex: 2; /* Obtient 2/3 de l'espace disponible dans le conteneur */
    /* Ajoutez ici d'autres styles spécifiques au graphique si nécessaire */
}

/* Style pour le titre du graphique */
.chart-title {
    margin-top: 20px;
}