<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Dashboard</title>
        <!-- Liens vers les fichiers CSS -->
        <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <!-- Ajoutez un en-tête si nécessaire -->
            <h1>Tableau de bord d'annotations du Ministère des Finances</h1>
        </div>
        <div class="content">
            <div class="filters">
                <!-- Vos filtres ici -->
            </div>
            <div class="chart">
                {%app_entry%}
            </div>
        </div>
    </div>
    {%config%}
    {%scripts%}
</body>
</html>
