<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire</title>
</head>
<body>
    <h1>Formulaire de prédiction</h1>
    <form method="post" action="/form">
        {{ form.hidden_tag() }}
        <label for="title">Titre :</label>
        {{ form.title() }}
        <br>
        <br>
        <label for="message">Message :</label>
        {{ form.message() }}
        <br>
        <br>
        {{ form.submit() }}
    </form>
</body>
</html>
